# ---------------- SECRETS ----------------
.env

# ---------------- PYTHON ----------------
__pycache__/
*.pyc
venv/

# ---------------- DATABASE ----------------
*.db
*.db-shm
*.db-wal

# ---------------- NODE ----------------
node_modules/
build/

# ---------------- OS ----------------
.DS_Store
